@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
    --background: #584910;
    --foreground: #927a1a;
  }
}

/* styles/globals.css */

.custom-icon {
  width: 1.5rem !important;
  height: 1.5rem !important;
}

.image-container {
  position: relative;
  width: 100%; /* Assurez-vous que le conteneur prend toute la largeur disponible */
}

.responsive-image {
  width: 100% !important; /* Force l'image à prendre toute la largeur du conteneur */
  height: auto !important; /* Conserve les proportions de l'image */
}
