# This is a basic workflow to help you get started with Actions

name: Node.js CD

# Controls when the action will run.
on:
  push:
    branches:
      - main

# Expose runtime secrets to all jobs through env
env:
  DOT_ENV: ${{ secrets.DOT_ENV }}

jobs:
  deploy:
    permissions:
      id-token: write
      contents: read
    name: Deploy demeureinsolite.fr
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Fetch Teleport binaries
        uses: teleport-actions/setup@v1
        with:
          version: 17.2.1

      - name: Fetch credentials using Machine ID
        id: auth
        uses: teleport-actions/auth@v2
        with:
          proxy: tlp.frankberge.fr:443
          token: example-bot
          certificate-ttl: 1h
          anonymous-telemetry: 1

      - name: Update demeureinsolite.fr
        env:
          VERSION_TAG: ${{ github.ref_name }}
        run: |
          tsh ssh root@pve "pct exec 104 bash -- -c '
            cd /root/demeureinsolite_v2/ &&
            git pull &&
            printf \"%s\" \"${DOT_ENV}\" > .env.production &&
            export VERSION_APP=${VERSION_TAG} &&
            docker compose down --remove-orphans &&
            docker compose up -d --build
          '"
